name: Build Android APK

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:  # Permet de lancer manuellement

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'
        
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.5'
        channel: 'stable'
        
    - name: Get dependencies
      working-directory: ./frontend
      run: flutter pub get
      
    - name: Build APK Debug
      working-directory: ./frontend
      run: flutter build apk --debug
      
    - name: Build APK Release
      working-directory: ./frontend
      run: flutter build apk --release --split-per-abi
      
    - name: Upload Debug APK
      uses: actions/upload-artifact@v4
      with:
        name: app-debug
        path: frontend/build/app/outputs/flutter-apk/app-debug.apk
        
    - name: Upload Release APKs
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: frontend/build/app/outputs/flutter-apk/app-*-release.apk
